/* Body */
.container {
    margin-top: 25vh;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: hsl(204, 43%, 93%);
}

.br {
    border-radius: 10px;
    overflow: hidden;
}

.card1 {
    background-color: white;
}

.card2 {
    background-color: hsl(179, 62%, 43%);
}

.card3 {
    background-color: hsl(179, 66%, 53%);
}


h5,
h6 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

.cyan {
    color: hsl(179, 62%, 43%);
}

.bright-yellow {
    color: hsl(71, 73%, 54%);
}

.btn-bright-yellow {
    background-color: hsl(71, 73%, 54%);
    transition: 0.3s;
}

.btn-bright-yellow:hover {
    background-color: hsl(71, 61%, 46%);
}

/* Footer */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}